@import "tailwindcss";


*{
  box-sizing: border-box;
}
:root {
  --text-primary: #22333b;
  --text-neutral: #0a0908;
  --text-light-1: #eae0d5;
  --text-light-2: #c6ac8f;
  --text-light-3: #5e503f;
  --background-primary: #22333b;

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
}

.dark {
  --text-primary: #22333b;
  --background-primary: #22333b;
}

.text-primary {
  color: var(--text-primary);
}
.text-light--1 {
  color: var(--text-light-1);
}
.text-light--2 {
  color: var(--text-light-2);
}
.bg-light--3 {
  background-color: var(--text-light-3);
}
.bg-primary {
  background-color: var(--text-primary);
}

body {
  font-family: var(--font-heading);
}


/* Settings Security */
.btn-primary {
  @apply px-4 py-2 bg-black text-white rounded hover:bg-gray-800;
}

.btn-secondary {
  @apply px-4 py-2 border rounded hover:bg-gray-100;
}

/* Settings Notifications */
.btn-primary {
  @apply px-4 py-2 bg-black text-white rounded hover:bg-gray-800;
}

/* admin dashboard roles */




/* Agent Application Successful Submission */
@keyframes drawCircle {
  from {
    stroke-dasharray: 0 158;
  }
  to {
    stroke-dasharray: 158 0;
  }
}

@keyframes drawCheck {
  from {
    stroke-dasharray: 0 50;
  }
  to {
    stroke-dasharray: 50 0;
  }
}

.animate-circle {
  stroke-dasharray: 158;
  animation: drawCircle 1s ease-out forwards;
}

.animate-check {
  stroke-dasharray: 50;
  animation: drawCheck 0.6s ease-out 0.8s forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

